// var
$font-family: 'Segoe UI';
$font-size-special: 28px;
$font-size-title: 22px;
$font-size-sub: 16px;
$font-size-nav: 18px;
$font-size-text: 14px;
$max-width: 1200px;
$padding_space: 120px;
$color:(
    'main': #088178,
    'main2': #03CEA4,
    'sub1': #B87D4B,
    'sub2': #f1c474,
    'yellow': #ffbe4f,
    'text': #0d4b47,
    
);
// height
$height-header: 80px;


// common
*{
    box-sizing: border-box;
    font-family: $font-family;
}
body{
    margin: 0;
    background-color: rgb(247, 247, 247);
}
a{
    text-align: none;
}
img{
    max-width: 100%;
}
ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}

%center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
%flex{
    display: flex;
    flex-wrap: wrap;
}
%flex-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
%hover-text{
    transition: all 0.5s;
    cursor: pointer;
    &:hover{
        color: map-get($color,'main2');
    }
}
%btn-style{
    transition: all 0.5s;
    background-color: map-get($color,'main');
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 50px;
    font-size: $font-size-sub;
    cursor: pointer;
    &:hover{
        background-color: map-get($color,'main2');
    }
}
%logo-style{
    div.logo-block{
        width: 200px;
        div.logo{
            cursor: pointer;
            margin:0 10px;
            text-align: center;
            line-height: 40px;
            width: 100px;
            height: 40px;
            font-size: 20px;
            font-weight: 800;
            font-family:'Segoe UI', Tahoma;
            border-radius: 5px;
            color: #fff;
            background-color: rgba(17, 17, 17, 0.842);
        }
    }
}
  